* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--fundo);
}

.quiz {
  background-color: #2D3A5A;
  width: 65rem;
  height: 50rem;

  border: 2px solid var(--azul-principal);
  border-radius: 6px;
  padding: 16px;
  margin-top: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz img {
  border-radius: 5px;
}

.quiz p {
  margin: 2rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.questoes-quiz {
  width: 100%;
  gap: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.respostas-quiz {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.resposta:disabled {
  cursor: not-allowed;
}

.next-question {
  margin-top: 32px;
}

.button {
  background-color: #5168A0;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  height: 48px;
  padding: 0 32px;
  transition: filter 0.1s;
}

.button:not(:disabled):hover {
  filter: brightness(0.8);
}

/* Finish game */
.final-message {
  font-size: 20px;
  text-align: center;
}

.final-message span {
  display: block;
  margin-top: 8px;
}

/* General styles */
.hide {
  display: none;
}

/* Estilos para o botão Correto */
.correct {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}


/* Estilos para o botão Incorreto */
.incorrect {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

body.incorrect{
  background-color: var(--fundo);
  
}
body.correct {
  background-color: var(--fundo);
}

.texto-quiz {
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  text-align: justify;
  color: #fff;

  margin-bottom: 2rem;
}